a. far inserie all'utente due valori interi

In [17]:
x = int(input("inserire il primo numero :"))
y = int(input("inserire il secondo numero:"))

inserire il primo numero :10
inserire il secondo numero:2


b. effettuare le 4 operazioni aritmetiche tra i due numeri

In [30]:

print(x, "+", y, "-", x + y)
print(x, "-", y, "-", x - y)
print(x, "*", y, "- ", x*y)
print(x, "/", y, "- ", x/y)

10 + 2 - 12
10 - 2 - 8
10 * 2 -  20
10 / 2 -  5.0


c. effettuare l'elevamento a potenza del primo numero per il secondo

In [19]:

print(x**y)

100


d. effettuare il calcolo del resto della divisione tra il primo e il secondo numero

In [33]:
print(x,"%", y,"-", x%y)

10 % 2 - 0

f. effettuare la divisione intera tra il primo e il secondo numero

In [32]:
print(x, "/", y, "-", x//y)

10 / 2 - 5

g. incrementare di una unità entrambi i numeri

In [37]:
x = x +1
y = y +1
print(x, y)

11 3


h. far inserie all'utente due valori: il primo rappresenta la sua altezza (in metri) e il secondo rappresenta il suo peso (in kg). Visualizzare poi l'IMC (google it...)

In [48]:
alt = float(input("inserire la tua altezza :"))
pes = float(input("inserire il tuo peso:"))
print(pes / alt*2)

inserire la tua altezza :1.80
inserire il tuo peso:70
77.77777777777777


i. arrotondare l'IMC precedente

visualizzare il proprio nome, cognome, data di nascita e città di nascita separando le informazioni con un trattino.

In [60]:
dati = " Gabriel - Goycochea - 02/09/2005 -Milano "
print(dati)

Gabriel - Goycochea - 02/09/2005 -Milano

k. visualizzare le stesse informazioni per 10 volte di seguito

In [62]:
print(dati*10)

Gabriel - Goycochea - 02/09/2005 -MilanoGabriel - Goycochea - 02/09/2005 -MilanoGabriel - Goycochea - 02/09/2005 -MilanoGabriel - Goycochea - 02/09/2005 -MilanoGabriel - Goycochea - 02/09/2005 -MilanoGabriel - Goycochea - 02/09/2005 -MilanoGabriel - Goycochea - 02/09/2005 -MilanoGabriel - Goycochea - 02/09/2005 -MilanoGabriel - Goycochea - 02/09/2005 -MilanoGabriel - Goycochea - 02/09/2005 -Milano

l. assegnare il proprio nome e cognome ad una stringa e visualizzarla con tutte le lettere maiuscole