a. far inserie all'utente due valori interi

In [3]:
x = int(input("inserire il primo numero :"))
y = int(input("inserire il secondo numero:"))

inserire il primo numero :10
inserire il secondo numero:2


b. effettuare le 4 operazioni aritmetiche tra i due numeri

In [4]:
print(x, "+", y, "-", x + y)
print(x, "-", y, "-", x - y)
print(x, "*", y, "- ", x*y)
print(x, "/", y, "- ", x/y)

10 + 2 - 12
10 - 2 - 8
10 * 2 -  20
10 / 2 -  5.0

c. effettuare l'elevamento a potenza del primo numero per il secondo

In [5]:
 print(x**y)

100

d. effettuare il calcolo del resto della divisione tra il primo e il secondo numero

In [6]:
print(x,"%", y,"-", x%y)

10 % 2 - 0


f. effettuare la divisione intera tra il primo e il secondo numero

In [ ]:
print(x, "/", y, "-", x//y)

g. incrementare di una unità entrambi i numeri

In [7]:
x = x +1
y = y +1
print(x, y)

11 3


h. far inserie all'utente due valori: il primo rappresenta la sua altezza (in metri) e il secondo rappresenta il suo peso (in kg). Visualizzare poi l'IMC (google it...)

In [8]:
alt = int(input("inserire la tua altezza :"))
pes = int(input("inserire il tuo peso:"))
imc = pes/pow(alt/100, 2)
print(imc)

inserire la tua altezza :180
inserire il tuo peso:60
18.51851851851852

i. arrotondare l'IMC precedente

In [9]:
print(round(imc))

19

k. visualizzare il proprio nome, cognome, data di nascita e città di nascita separando le informazioni con un trattino.

[ ]

In [ ]:

dati =  " Gabriel - Goycochea - 02/09/2005 - Milano "
print(dati)


k. visualizzare le stesse informazioni per 10 volte di seguito

In [ ]:
print(dati*10)

l. assegnare il proprio nome e cognome ad una stringa e visualizzarla con tutte le lettere maiuscole

In [11]:
nom = "gabriel "
cog = "goycochea"
print(nom.upper())
print(cog.upper())

GABRIEL
GOYCOCHEA

m. assegnare il proprio nome e cognome ad una stringa e visualizzarla con le prime lettere maiuscole

In [12]:
print(nom.title())
print(cog.title())

Gabriel
Goycochea

n. assegnare il proprio nome e cognome ad una stringa e visualizzarne la lunghezza

In [13]:
print( "la lugezza di '%s' è"%nom, str(len(nom)),"lettere")
print( "la lugezza di '%s' è"%cog, str(len(cog)),"lettere")

la lugezza di 'gabriel ' è 8 lettere
la lugezza di 'goycochea' è 9 lettere

o. assegnare il proprio nome e cognome ad una stringa e contate quante vocali contiene

In [18]:
print("le vocali all'interno di", nom, "sono:" , nom.count("a,))

le vocali all'interno di gabriel  sono: 0

p. assegnare il proprio nome e cognome ad una stringa e visualizzare i primi 5 caratteri

In [21]:
print("ultimencinque letter del nome: " , nom[ 2 : ])
print("ultimencinque letter del cognome: " , cog[ 4 : ])

ultimencinque letter del nome:  briel
ultimencinque letter del cognome:  ochea

q. assegnare il proprio nome e cognome ad una stringa e visualizzare gli ultimi 5 caratteri

In [24]:
print("ultimencinque letter del nome: " , nom[ - 6 : ])
print("ultimencinque letter del cognome: " , cog[-  5 : ])

ultimencinque letter del nome:  briel
ultimencinque letter del cognome:  ochea

r.. assegnare il proprio nome e cognome ad una stringa e visualizzare i 5 caratteri centrali

In [25]:
print("le 5 lettere centrali del nome: ", nom [1:6])
print("le 5 lettere centrali del nome: ", nom [2:7])

le 5 lettere centrali del nome:  abrie
le 5 lettere centrali del nome:  briel